name: Quran Live Stable Pro
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y
      - name: Start Stream
        run: |
          ffmpeg -re -loop 1 -i "https://raw.githubusercontent.com/hamo60572/quran-live/main/README.md" -i "https://server8.mp3quran.net/lhdan/001.mp3" \
          -t 24:00:00 -f lavfi -i color=c=black:s=640x360 -filter_complex "[1:a]showwaves=s=640x120:mode=line:colors=white[v];[2:v][v]overlay=0:H-h[outv]" \
          -map "[outv]" -map 1:a -c:v libx264 -preset ultrafast -b:v 500k -c:a aac -b:a 128k -f flv \
          "${{secrets.STREAM_URL}}${{secrets.STREAM_KEY}}"
