name: Quran Live
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y
      - name: Start Stream
        run: |
          ffmpeg -re -stream_loop -1 -i "https://archive.org/download/081_20201111/081.mp3" \
          -vn -c:a aac -b:a 128k -ar 44100 -f flv \
          "${{secrets.STREAM_URL}}${{secrets.STREAM_KEY}}"
          
