name: Quran Live
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y
      - name: Start Stream
        run: |
          ffmpeg -re -i "https://server8.mp3quran.net/afs/001.mp3" \
          -c:v copy -c:a aac -f flv \
          "${{secrets.STREAM_URL}}${{secrets.STREAM_KEY}}"
